h1 {
    color: #ca927d;
}

#brand-logo {
    filter: invert(70%) sepia(49%) saturate(375%) hue-rotate(326deg) brightness(85%) contrast(84%);
    height: 100px;
    width:100px;
}

#image-group {
    display: flex;
   justify-content: center;
}

.parent{
    width:700px;
    height:700px;
    position:relative;
    z-index:0;
    display: flex;
    justify-content: center;
    
}

.inner{
    
    position:absolute;
    z-index:0;
    bottom:300px;
    
    
}