@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../assets/fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/kaushanscript-regular-webfont.woff') format('woff'),
        url('../assets/fonts/KaushanScript-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
body {
    display: flex;
    margin: 0;

    background-color: rgb(255, 204, 187);
}

/*#background {
    height: 100vh;
    width: 33vw;
    position: absolute;
} */

#banner {
    height: 20vh;
    width: 33vw;
    background-color: rgba(217, 0, 0, 0.247);
    margin-top: 20vh;

}

#logo {
    height: 200px;

}

h1 {
    font-size: 40px;
    text-align: center;
}

#name-logo {
    height: 20vh;
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}



#credits {
    font-size: 1.3vh;
    position: absolute;
    position: fixed;
    bottom: 10px;
    color: aliceblue;
    
}

#first-parent1 {
    display: flex;
    justify-content: center;
    background-image:
        url("./images/bg.png");
    background-repeat:repeat;
    
    background-size: 100% 100%;
    height: 111vh;
    width: 33vw;
    

}

#first-parent2 {
    min-width: 2000px;
}

.p-group {
    margin-left: 100px;
    
    display: flex;
    flex-direction: column;
    
    font-size: 50px;
}

form {
    width:100vw;
    margin-right: 30px;
    padding-left: 20px;
    padding-top: 1lh;
    background-color: rgb(255, 215, 201);
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.197);

}
.form-groups {
    display: flex;
    flex-wrap: wrap;
    
}

.form-groups > * {
    margin-right: 60px;
}

.form-groups > input {
    flex-shrink: 2;
}

.label-input{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    
    
}

.credits {
    color:aliceblue;
    
}

#login {
    margin-left: 100px;
    padding-bottom: 20px;
    font-size: 28px
}

input {
    margin-bottom: 1vh;
    height: 60px;
    width: 600px;
    border: 2px solid rgba(225, 225, 225, 0.966);
    border-radius: 3px;
    padding-left: 1ch;
    font-size: 30px;
    flex-shrink: 1;
    font-family: "Roboto Condensed";
    
    

    
}

#submit-button {
    font-family: "Roboto Condensed";
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 30px;
    width: 280px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(201, 119, 61);
    text-align: center;
    padding: 0;
    border-radius: 10px;
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.197);
    border: none;
    transition: 0.4s;
}

#submit-button:hover {
    -webkit-transition: 0.4s;
    background-color: rgb(190, 95, 27);
}
#submit-button:active{
    box-shadow: none;
    width: 279px;
    margin-left: 101px;
    background-color: chocolate;
}

#p-header {
    margin-top: 10vh;
    
}



#form-header {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bold;
    margin-left: 100px;
}
label {
    font-size: 28px;
    width: 292px;
    font-family: "Roboto Condensed";
    color: rgb(104, 114, 125);
}

#p-body {
    display: block;
    text-wrap: wrap;
    max-width: 1000px;
    
}

#final-words {
    margin-bottom: 70px;
}

#password:invalid,
#confirm-password:invalid {
    border: 2px solid red;
}

#password:valid,
#confirm-password:valid {
    border: 2px solid green;
}


input:focus-visible {
    box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.197);
    border: 2px solid salmon;
    outline:none;
    -webkit-transition: 0.4s;
}

@media (width < 720px) {
    body {
        flex-direction: column;
        margin: 0;
        padding:0;
        width: 100vw;
        
        
        
    }

    #first-parent1 {
        background-image: none;
        width: 700px;
        height: 300px;
        margin: 0;

    }

    #banner{
        width: 700px;
        height: 300px;
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        padding: 0;

    }

    #name-logo{
        height: 50px;
        margin:0;

    }
    
    .p-group{
        font-size: 40px;
        padding-left: 100px;
        max-width: 600px;
        margin: 0;
    }

    #first-parent2 {
    width: 700px;
    min-width: 0;
    


    }

    form {
        width:700px;
    }

    input {
        width: 500px;
    }

    #login {
        max-width: 700px;
        min-width: auto;
    }

    #p-body {
        max-width: 600px;
        margin: 0;
        
    }

    #form-header {
        margin-left: 20px;
    }

    .label-input{
        margin-left: 20px;
    }

    #submit-button {
        margin-left: 40px;
    }

    #login {
        margin-left: 50px;
    }

    #confirm-password {
        margin-bottom: 40px;
    }

    #credits {
        display: none;
    }

}

