@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../assets/fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/kaushanscript-regular-webfont.woff') format('woff'),
         url('../assets/fonts/KaushanScript-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

}

